.container {
  display: grid;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.title__input {
  font-size: var(--h2-font-size);
}

.input {
  font-size: var(--normal-font-size);
  border: none;
  background-color: var(--body-color);
  padding: 0.5rem 1rem;
  outline: none;
  color: var(--text-color);
  border-bottom: 1px solid var(--focus-color);
}

.input::placeholder {
  color: var(--text-color);
}

@media screen and (max-width: 1150px) {
  .input {
    width: 400px;
  }
}

@media screen and (min-width: 1152px) {
  .input {
    width: 700px;
  }
}
