.form__field {
  position: relative;
  margin-top: 1rem;
}

.form__input {
  width: 100%;
  border: 1px solid var(--focus-color);
  padding: 1.4rem 1.4rem 1.4rem 4.5rem;
  border-radius: 4rem;
  outline: none;
  font-weight: 500;
  transition: focus-color 0.4s, box-shadow 0.4s;
}

.form__input::placeholder {
  color: var(--text-color);
}

.form__label {
  position: absolute;
  left: 1.5rem;
  top: -0.65rem;
  background-color: var(--body-color);
  padding: 2px;
  font-size: var(--small-font-size);
  font-weight: 500;
}

.form__icon {
  height: max-content;
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 0;
  bottom: 0;
  margin-block: auto;
  color: var(--focus-color);
}

.form__field::after {
  content: "";
  position: absolute;
  height: 28px;
  border: 1px solid var(--focus-color);
  left: 3.75rem;
  top: 0;
  bottom: 0;
  margin-block: auto;
}
