.pink__button {
  background-color: var(--focus-color);
  color: var(--body-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  max-width: 340px;
}

.pink__button:hover {
  opacity: 0.8;
}
