.button__pink {
  background-color: var(--focus-color);
  color: var(--body-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  cursor: pointer;
  transition: 0.3s;
  width: 400px;
}

.button__pink:hover {
  opacity: 0.8;
}

@media screen and (min-width: 1150px) {
  .button__pink {
    width: 700px;
  }
}
