.home__header {
  background-color: var(--focus-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  position: fixed;
  width: 100%;
}

.home__title {
  font-size: var(--h1-font-size);
  color: var(--body-color);
  text-align: center;
}

.home__header a {
  font-size: var(--normal-font-size);
  width: auto;
  background-color: var(--body-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--focus-color);
  text-align: center;
}

.home__header a:hover {
  background-color: var(--focus-color);
  color: var(--body-color);
  border: 1px solid var(--body-color);
}

.home__table {
  padding-block: 8rem 2rem;
}

.home__table-title {
  text-align: center;
  padding: 1rem;
}

.home__table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  width: auto;
  border: 1px solid var(--focus-color);
  align-items: center;
}

.home__table-header h1 {
  border-right: 1px solid var(--focus-color);
  width: 100%;
  font-size: var(--h3-font-size);
  text-align: center;
  padding-right: 0.5rem;
  color: var(--focus-color);
  font-weight: var(--font-semi-bold);
}

.home__table-header h1:last-child {
  border-right: none;
}

.home__table-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
  border-bottom: 1px solid var(--focus-color);
}

.home__table-contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding-bottom: 1rem;
}

.home__table-contact h1 {
  font-size: var(--normal-font-size);
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
  word-break: break-all;
}

.home__table-actions {
  display: flex;
  gap: 0.3rem;
}

.delete__btn {
  background-color: red;
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}

.update__btn {
  background-color: var(--focus-color);
  border: none;
  padding: 0.2rem;
  cursor: pointer;
}

.delete,
.update {
  color: var(--body-color);
  font-size: 1rem;
}

@media screen and (min-width: 1150px) {
  .home__header {
    padding: 1rem 3rem;
    justify-content: center;
    gap: 10rem;
  }

  .home__table-header {
    width: 100%;
  }

  .home__table-header h1 {
    padding: 0;
  }

  .home__table-body {
    flex-direction: row;
    align-items: center;
  }

  .home__table-contact {
    width: 100%;
    justify-items: center;
  }
}
